// These colors are specific to the theme. Do not use in a package!

@very-light-gray:   #EEFFFF;
@light-gray:        #B2CCD6;
@gray:              #373b41;
@dark-gray:         #282a2e;
@very-dark-gray:    #263238;

@green:             desaturate(#C3E88D, 15%);
@teal:              desaturate(#009688, 15%);
@light-teal:        desaturate(#73d1c8, 15%);
@cyan:              desaturate(#89DDF3, 15%);
@blue:              desaturate(#82AAFF, 15%);
@indigo:            desaturate(#7986CB, 15%);
@purple:            desaturate(#C792EA, 15%);
@pink:              desaturate(#FF5370, 15%);
@red:               desaturate(#F07178, 15%);
@strong-orange:     desaturate(#F78C6A, 15%);
@orange:            desaturate(#FFCB6B, 15%);
@light-orange:      desaturate(#FFE082, 15%);
